*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: 1.1px;
  margin-bottom: 0.7rem;
}

#time {
  text-decoration: none;
}

#quote {
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 400px;
  letter-spacing: 0.3px;
  text-align: center;
}

#items {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.item {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
}

.title {
  font-weight: 400;
  font-size: 1.1rem;
}

.remove {
  font-size: 1.1rem;
  font-weight: 400;
  color: red;
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid #aaa;
  width: max-content !important;
  border-radius: none;
}

#itemInput {
  padding: 1rem 2.5rem;
  width: 350px;
  border: 1px solid #fff;
  outline: none;
  font-weight: 400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#itemInput::placeholder {
  letter-spacing: 0.4px;
  font-weight: 400;
}

.todos {
  display: flex;
  margin-top: 1.5rem;
}

button {
  border: none;
  padding: 0.6rem 2.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2d9596;
  font-weight: 400;
  color: white;
  cursor: pointer;
  letter-spacing: 0.5px;
}
